@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wdth,wght@98.8,100..800&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800

.syne-<uniquifier> {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


:root{
  --white: #FFFFFF;
  --black: #111111;
  --gray: #5d5d60;
  --orange: #fb8e39;
  --white-gray: #e7e7e7;
    
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

